img {
width: 48.9vw;

}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 125vw;
    justify-content: space-around;
    align-content: space-around;
    
    
}

body > div {
    display: flex;
    justify-content: space-around;


} 

div:nth-child(odd) {
    flex-direction: row-reverse;
}

article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5%;
    
}
